:root {
    --primary: #FFCE00;
    --secondary: #FE4880;
    --dark: #212121;
    --light: #F3F3F3;
    --grey: #505050;
}

* {
    margin: 0;
    padding: 0;
}

.app {
    display: flex;
    flex-wrap: wrap;
}

body {
    /* font-family: montserrat, sans-serif; */

    background: #a01414;
    background-size: 100%;
    width: 100%;
    min-height: 100vh;
}

.card {
    /* margin: 100px auto 0;
    width: 400px;
    height: 600px; */
    margin: 10px 40px;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.card__inner {
    width: 200px;
    height: 300px;
    margin: 10px 40px;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}


.card__inner.is-flipped {
    transform: rotateY(180deg);
}

.card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.card__face--front {
    background-image: linear-gradient(to bottom right, var(--primary), var(--secondary));
    display: flex;
    align-items: center;
    justify-content: center;
}

.hide {
    display: none;
}

.dead-style {
    background-image: linear-gradient(to bottom right, var(--light), var(--grey));
}

.card__face--front h2 {
    color: #FFF;
    font-size: 32px;
    text-align: center;
}

.card__face--back {
    background-color: var(--light);
    transform: rotateY(180deg);
}

.card__content {
    width: 100%;
    height: 100%;
}

.card__header {
    position: relative;
    /* padding: 30px 30px 40px; */
}

.card__header:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom left, var(--primary) 10%, var(--secondary) 115%);
    z-index: -1;
}

.pp {
    display: block;
    width: 64px;
    height: 64px;
    margin: 0 auto 10px;
    border-radius: 50%;
    background-color: #FFF;
    border: 5px solid #FFF;
    object-fit: cover;
}

.card__header h2 {
    color: #FFF;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}

.card__body {
    padding: 10px;

}

.card__body li {
    color: var(--dark);
    font-size: 14px;
    list-style: none;
    font-weight: 600;
    margin-bottom: 5px;

}

.card__body p {
    color: var(--dark);
    font-size: 8px;
    line-height: 1.4;
}

.buttons {
    display: block;
    text-align: center;
}

.card__category {
    text-decoration: none;
    display: inline-block;
    width: 140px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
}

.card__category:hover {
    background: #2EE59D;
    box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
    color: white;
    transform: translateY(-7px);
}

input {
    position: relative;
    display: inline-block;
    font-size: 20px;
    box-sizing: border-box;
    transition: .5s;
}

input[type="text"] {
    background: #FFf;
    width: 340px;
    height: 50px;
    border: none;
    outline: none;
    padding: 0 25px;
    border-radius: 25px 0 0 25px;
}

.searching-button {
    position: relative;
    border-radius: 0 25px 25px 0;
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #ffc107;
    color: #fff;
}

.searching-button:hover {
    background: #ff5722;
}

.search {
    display: block;
    margin-top: 50px;
    text-align: center;
}